*.iml
target/
*.idea/
.DS_Store

log/
*.log
docker/hadoop/

*/.scannerwork/
.scannerwork/

phoebe/build/
phoebe/dist/
phoebe/phoebe.egg-info/
.history/
*.DS_Store
.history/
*.DS_Store
.metals/
.vscode/
goexample/

dist/
.pdm.toml
**/apis-doc/
local-conf/
.cache/
coverage.txt
.idea/
coverage.xml
golang/integration_test/config/
local/
python/config
